<!--<nav class="navbar navbar-expand-lg navbar-light">-->
  <!--<div class="container">-->
  <!--&lt;!&ndash; logo &ndash;&gt;-->
    <!--<div class="navbar-header">-->
      <!--<a class="navbar-brand" href="/">-->
        <!--<img src="assets/img/logo.png" width="280" class="img-responsive" title="Comics Plus" alt="Comics Plus">-->
      <!--</a>-->
    <!--</div>-->
    <!--&lt;!&ndash;*ngIf="currentUser"&ndash;&gt;-->
    <!--<div class="navbar-collapse" id="navbarNav" >-->
      <!--<ul class="navbar-nav">-->
        <!--<li class="nav-item active">-->
          <!--<a class="nav-link"  routerLink="">News</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link"  routerLink="">Reports</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link"  routerLink="">Tutorials</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link"  routerLink="">Contact Support</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link"  routerLink="">Marketing Materials</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link"  routerLink="">Account Profile</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" (click)="logout()">Logout</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->

  <!--</div>-->
<!--</nav>-->