<div class="box">

  <div class="mb-3" style="width:35%" *ngIf="is_admin">  
    <ng-multiselect-dropdown
      name="schools_list"          
      [placeholder]="'Select Institution'"
      [data]="schools"          
      [settings]="dropdownSettings"        
      (onSelect)="onSchoolSelect($event)"
      (onDeSelect)="onSchoolDeSelect($event)"
    >
    </ng-multiselect-dropdown> 
  </div>

</div>

<div class="box">
  <div class="row report-statements-tab">
    <div class="col-12">
      <p class="report-label float-left"> Marc Records</p>

      <div class="float-right">        
        <div class="btn-group dropleft">
          <button type="button" class="btn btn-aqua dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Request Report
          </button>
          <div class="dropdown-menu">      
            <a class="dropdown-item" href="#" (click)='requestMarcReports($event, "full");' >Full</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)='requestMarcReports($event, "update");'>Update</a>
          </div>
        </div>        
      </div> 

    </div>

    <div class="col-12">
      <div class="filter-field-date">
        <!-- <div class="float-left filter-fields filter-field-month" *ngIf="is_admin">
          <select class="form-control" (change)="filterReportsbyMonth($event.target.value)">
            <option *ngFor="let month of month_list; let i = index"  value="{{i + 1}}" [attr.selected]="month==current_month ? true : null">{{month}}</option>
          </select>
        </div> -->

        <label class="float-left form-label">Year: </label>
        <div class="filter-fields xs-float-right">
          <select class="form-control" (change)="filterReportsbyYear($event.target.value)">
            <option *ngFor="let year of prev_years" value="{{year}}">{{year}}</option>
          </select>
        </div>
      </div>
    </div>


    <!-- <div class="col-12" style="display: none;">
      <table class="table table-hover table-striped library-reports-table">

        <thead>
          <th> Library </th>        
          <th> Type </th>        
          <th> File Path </th>
          <th> Date </th>        
          <th> Status </th>
        </thead>

        <tbody>
        <tr *ngFor="let report of reports | async | paginate: { id: 'statement_report_paging', itemsPerPage: limit, currentPage: page, totalItems: total }">
          <td>{{ report['library_name']  }}</td>       
          <td>{{ report['type']  }}</td>            
          <td>
            <a href="{{ report.s3_url }}" target="_blank" *ngIf="report.s3_url">
              {{  report['file_path']  }}
            </a>
            <span *ngIf="!report.s3_url"> -- </span>
          </td> -->
          <!-- <td>{{ report['month'] | dateFormat : 'MMMM' }}</td> -->
          <!-- <td>{{ report['created'] | dateFormat : 'LL' }}</td>
          <td> {{ !report['status'] ? 'Complete' : report['status'] }}</td>
        </tr>
        </tbody>
      </table>
    </div> -->

    <div class="col-12">
      <div class="table-wrap">
        <div class="table table-striped table-hover library-reports-table">
          <div class="thead">
            <div class="th">Institution</div>        
            <div class="th">Type</div>        
            <div class="th">File Path</div>
            <div class="th">Date</div>        
            <div class="th">Status</div>
          </div>

          <div class="tbody">
            <div class="tr" 
              *ngFor="let report of reports | async | paginate: { id: 'statement_report_paging', itemsPerPage: limit, currentPage: page, totalItems: total }; let i = index">
              
              <a class="td-title collapsed" data-toggle="collapse" href=".item-collapse-{{i}}" role="button" aria-expanded="false" aria-controls="collapse">
                <span class="arrow"></span>{{ report['library_name']  }}
              </a>

              <div class="th collapse item-collapse item-collapse-{{i}}">Institution</div>
              <div class="td collapse item-collapse item-collapse-{{i}}">
                {{ report['library_name']  }}
              </div>

              <div class="th collapse item-collapse item-collapse-{{i}}">Type</div>
              <div class="td collapse item-collapse item-collapse-{{i}}">
                {{ report['type']  }}
              </div>  

              <div class="th collapse item-collapse item-collapse-{{i}}">File Path</div>
              <div class="td collapse item-collapse item-collapse-{{i}}">
                <a href="{{ report.s3_url }}" target="_blank" *ngIf="report.s3_url">
                  {{  report['file_path']  }}
                </a>
                <span *ngIf="!report.s3_url"> -- </span>
              </div>  

              <div class="th collapse item-collapse item-collapse-{{i}}">Date</div>
              <div class="td collapse item-collapse item-collapse-{{i}}">
                {{ report['created'] | dateFormat : 'LL' }}
              </div>  

              <div class="th collapse item-collapse item-collapse-{{i}}">Status</div>
              <div class="td collapse item-collapse item-collapse-{{i}}">
                {{ !report['status'] ? 'Complete' : report['status'] }}
              </div>  

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-12 text-center">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
      <pagination-controls (pageChange)="getMarcReports(library_id, $event)" id="statement_report_paging" previousLabel="" nextLabel=""></pagination-controls>
    </div>
  </div>


</div>
