:host ::ng-deep .multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #ccc !important;
    /*width: 60%;*/
    padding: 12px;
    margin-bottom: 0;    
    font-weight: 400;
    line-height: 2.4;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;  
    min-width: 130px;
    min-height: 50px;
    color: #2b2828;
}

:host ::ng-deep .multiselect-dropdown .dropdown-list{
    /*width: 150%;  */
}
  
:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
    /*width: 100%;  */
    /* margin: 2px;     */
    /* border: 1px solid #fff !important; */
    /* border-bottom: #adadad !important; */
    /*background: #fff !important;  */
    /*color: #292c2f !important;*/
    /*border-style: none!important;*/
    /*height: 30px;*/
    line-height: 1.5em;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item a {
    float: right;  
    /*color: #292c2f !important;*/
}

.required-asterisk {
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}

#productsTable tbody tr {
    font-size: 14px !important;
}

#productsTable thead tr {
    font-size: 14px !important;
}

#productsTable_filter {
    font-size: 14px !important;
}

#dataTables_length {
    font-size: 14px !important;
}

#productsTable_info {
    font-size: 14px !important;
}

#productsTable_paginate {
    font-size: 14px !important;
}

.spinner-border {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.search-wrap {
    overflow: hidden;
}
.btn-padlock {
    background: none;
    padding: 0;
    border: 0;
    margin-right: 6px;
}
.icon {
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
}
.icon-padlock {
    background-image: url('../../assets/img/padlock-icon.png');
}


th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }
  th[sortable]:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
    background: url('/assets/img/sort/sort_both.png');
    background-repeat: no-repeat;
  }
  
  th[sortable].desc:before, th[sortable].asc:before {
    /*background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC') no-repeat;*/
    /*background-size: 22px;*/
    background-image: url('/assets/img/sort/sort_asc.png');
  }
  
  th[sortable].desc:before {
    /*transform: rotate(180deg);
    -ms-transform: rotate(180deg);*/
    background-image: url('/assets/img/sort/sort_desc.png');
  }
  
  .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
    height: 48px !important;
  }