<div class="box" style="padding-bottom: 30px;">

  <div class="select-wrap mb-3 width-35" *ngIf="is_admin && !is_parent">
    <ng-multiselect-dropdown
      [settings]="dropdownSingleSelect"
      name="regions_list"          
      [placeholder]="'Select Institution'"    
      [data]="parent_institutions"             
      (onSelect)="onParentSelect($event)"      
      (onDeSelect)="resetParentInstitution()"      
    >
    </ng-multiselect-dropdown> 
  </div>
 
  <div class="select-wrap mb-3 width-35" *ngIf="is_parent">
    <form [formGroup]="searchForm">
    <ng-multiselect-dropdown
      [settings]="dropdownSettings"
      id="libraries"
      name="libraries"
      formControlName="libraries"
      [placeholder]="'Select Institution'"
      [data]="institution_node"
      [(ngModel)]="selectedItems"
      (onSelect)="onLibrariesSelect($event)"
      (onDeSelect)="onLibrariesDeSelect($event)"
      (onSelectAll)="onLibrariesSelectAll($event)"
    >
      test
    </ng-multiselect-dropdown> 
  </form>
  <a href="#" (click)="resetParentInstitution($event)" *ngIf="is_admin">Reset Parent Institution</a>
  </div>
</div>

<div class="box">
  <app-librarian-activity [library_id]="library_id" [library_ids]="library_ids" [show_patron_info]="show_patron_info"></app-librarian-activity>  
  <app-librarian-statement [library_id]="library_id" [library_ids]="library_ids" [show_patron_info]="show_patron_info" [is_admin]="is_admin"></app-librarian-statement>  
</div>


