.width-35 {
	width: 35%;
}

.width-50 {
	width: 50%;
}

::ng-deep .select-wrap .multiselect-dropdown .dropdown-btn .selected-item {
	clear: left;
	margin-bottom: 2px;
}

@media (max-width: 767px) {
	.width-35, .width-50 {
		width: 100%;
	}
	::ng-deep .select-wrap .selected-num {
		display: inline;
	}
	::ng-deep .select-wrap .selected-num:before {
		content: '(';
	}
	::ng-deep .select-wrap .selected-num:after {
		content: ')';
	}
}

@media (min-width: 768px) {
	::ng-deep .multiselect-dropdown .dropdown-btn div.selected-item {
	  max-width: 80%;
	}

	::ng-deep .select-wrap .selected-item {
		position: relative;
	}

	::ng-deep .select-wrap .selected-num {
		color: #9E9FA8;
		position: absolute;
		left: 100%;
		max-width: 150px;
	    min-width: 90px;
	    margin-left: 12px;
	}
}