<div *ngIf="!form_loaded" class="text-center mt-4">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="form_loaded" class="mb-4">
  <form [formGroup]="updateLibraryAuthMethodForm" (ngSubmit)="updateLibraryAuthMethod($event);">
    <div>
      <!-- <label for="active">
        <h6>Active</h6>
      </label>
      &nbsp;&nbsp;
      <input type="checkbox" formControlName="active"> -->
      <div class="form-group checkbox-wrap">
        <label class="checkbox">
            <input type="checkbox" class="btn-checkbox-all" formControlName="active">
            <span class="checkmark"></span>
        </label>
        <label class="checkbox-label" for="active"><h6>Active</h6></label>
      </div>   
    </div>

    <div *ngIf="auth_is_active">

      <div formGroupName="authSettings" >
        <h6>Form Label</h6>
        <div class="form-group col-md-12" >
          <label for="username_placeholder">Username</label>        
          <input type="text" formControlName="username_placeholder" class="form-control" />        
        </div>
  
        <div class="form-group col-md-12" >
          <label for="password_placeholder">Password</label>        
          <input type="text" formControlName="password_placeholder" class="form-control" />        
        </div>
      </div>

      <div>
        <h6>Settings</h6>
        <div formGroupName="authSettings" >
          <div class="form-group checkbox-wrap">
            <label class="checkbox">
              <input type="checkbox" class="btn-checkbox-all" formControlName="allow_signup_page">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-label" for="allow_signup_page">Check the box to Allow User Sign Up</label>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="auth_secret_code">Secret Code<span class="required-asterisk">*</span> </label>
          <input type="text" formControlName="auth_secret_code" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.auth_secret_code.errors }" />
          <div *ngIf="submitted && f.auth_secret_code.errors" class="invalid-feedback">
            <div *ngIf="f.auth_secret_code.errors.required">Secret Code is required</div>
          </div>
        </div>
  
        <div formGroupName="singleUserAuth" class="form-row col-md-12 mb-2">
          <div class="col-md-12">
            <h6>Single User Account</h6>
          </div>      
          <input type="hidden" formControlName="user_id">
          <div class="form-group col-md-12">                    
            <label for="username">Username / Email</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.singleUserAuth.controls.username.errors }" />
            <div *ngIf="submitted && f.singleUserAuth.controls.username.errors" class="invalid-feedback"> 
              <div> Username / Email is required </div>
            </div>          
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3">   
      <button [disabled]="loading" class="btn btn-primary btn-aqua">Save Changes</button>
      <img *ngIf="loading" class="pl-2"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    

  </form>
</div>